body{
	margin: 0px;
	background-color: #007bFF;
}

header{
	background-color: #FFFFFF;
	/*background-color: #007bFF;*/
	padding: 5px;
	padding-left: 20px;
}

h1{
	margin: 0;
	color: white;
}

h2{
	color: #007bFF;
}

ul{
	padding: 0;
}

ul li{
	display: inline-block;
}

a{
	text-decoration: none;
	margin-left: 5px; 

}

a:hover{
	text-decoration: none;
}

iframe{
	width: 600px;
	height: 400px;
}

.bodywrapper{
	padding: 40px;
	padding-left: 80px;
}

.assignment{
	color: #00AAFF;
	margin-left: 40px;

}

.center-block{
	float: none;
}

.card{
	width: 18rem;
}

.cart{
	width: 75vw;
}

.forum{
	width: 75rem;
	height: 80rem;
}

.header-title{
	color: #5cb85c;
}

.checkout{
	color: white;
}

.index-row{
	border-bottom-width: 5px;
	border-bottom-color: gray;
	border-bottom-style: ridge;
}

.space-left{
	margin-left: 80px;
}

.small-space-left{
	margin-left: 40px;
}

.login-fail{
	color: red;
	text-decoration: underline;
	font-weight: bold;
}

#fill{
	width: 100%;
	height: 100%;
}

.navbar.navbar-expand-lg.navbar-light.bg-light>div>ul>li>a{
	color: #007bFF;
}

.text-blue{
	color: #007BFF;
}
