body{
	margin: 0px;
	background-color: #FFFFFF;
}

header{
	background-color: #00AAFF;
	padding: 5px;
	padding-left: 20px;
}

h1{
	margin: 0;
}

ul{
	padding: 0;
}

ul li{
	display: inline-block;
	color: #FFFFFF;
}

a{
	color: inherit; 
	text-decoration: none;
}

a:hover{
	
}

.current{
	font-weight: bold;
	color: #000000;
}

iframe{
	width: 600px;
	height: 400px;
}

.bodywrapper{
	padding: 20px;
}

