body{
	margin: 0px;
	background-color: #007bFF;
}

header{
	background-color: #FFFFFF;
	/*background-color: #007bFF;*/
	padding: 5px;
	padding-left: 20px;
}

h1{
	margin: 0;
	color: white;
}

h2{
	color: #007bFF;
}

ul{
	padding: 0;
}

ul li{
	display: inline-block;
}

a{
	text-decoration: none;
	margin-left: 5px; 

}

a:hover{
	text-decoration: none;
	font-weight: bold;
	color: #FF0000;
}

.current{
	font-weight: bold;
	color: #000000;
}

iframe{
	width: 600px;
	height: 400px;
}

.bodywrapper{
	padding: 40px;
	padding-left: 80px;
}

.assignment{
	color: #00AAFF;
	margin-left: 40px;

}

.center-block{
	float: none;
}

.card{
	width: 18rem;
}

.cart{
	width: 75vw;
}

.header-title{
	color: #5cb85c;
}
